HOST=0.0.0.0
PORT=7210

#ASPNETCORE_HTTPS_PORTS=5000
#ASPNETCORE_HTTP_PORTS=5001

# Database
ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=myapp_dev;Username=root;Password=password"

# JWT
Jwt__Issuer=api.myapp.com
Jwt__Audience=api.myapp.com
Jwt__Key=changeme

# S3 Storage (MinIO)
S3__ServiceUrl=http://localhost:9000
S3__AccessKey=minio
S3__SecretKey=123456789
S3__BucketName=myapp-dev
S3__Region=eu-west-1

# S3 Storage (AWS)
# S3__ServiceUrl=''
# S3__AccessKey=''
# S3__SecretKey=''
# S3__BucketName=''
# S3__Region=''

# Redis
ConnectionStrings__Redis=127.0.0.1:6379

# OpenAI API Key for categorization
OpenAI__ApiKey=changeme
OpenAI__Model=gpt-4o-mini

CORS_ORIGINS=http://localhost:8080,http://localhost:5000,http://127.0.0.1:5500,http://localho.st,null,https://myapp-ui.pages.dev,https://api.myapp.com

OTEL_EXPORTER_API_KEY=''

OTEL_EXPORTER_ENDPOINT=https://api.axiom.co/v1/traces
OTEL_EXPORTER_LOGS_ENDPOINT=https://api.axiom.co/v1/logs

OTEL_LOGS_EXPORTER=otlp
OTEL_TRACES_EXPORTER=otlp

OTEL_LOG_LEVEL=debug
